html {
    box-sizing: border-box;

}

*,::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 1.5;
}


.header {
    color: rgb(7, 11, 47);
    background-color: hsla(240, 39%, 69%, 0.381);
    text-align: center;
    border: 1px rgb(164, 159, 203) groove;
    padding: 10px 0 10px 0;
    box-shadow: 2px 3px 3px 2px #8396b4;
    font-style: normal;
}

.section {
    margin: 30px 0;
}

.section--dark {
    background: #294430;
}

.section__Header {
    color: rgb(145, 138, 138);
    text-shadow: 1px 0 0 #23c23d;
}

.section__Paragraph {
    color: rgb(26, 24, 81);
}

.section--dark  .section__Paragraph  {
    color: rgb(89, 84, 186);
}

.section--dark  .section__highlighted  {
    color: #9c6bca;
}

.section__highlightedText {
    color: #2a054c;
    font-weight: bold;
}

.navigation {
    list-style: none;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
}

.navigation__Item {
    margin: 10px 0;
}

.navigation__Link {
    color: darkgreen;
    text-decoration: none;
    text-shadow: 0 1px 2px #7ba983;
}

.navigation__Link:hover {
    color: rgb(93, 165, 93);
}


.table {
    border-collapse: collapse;
    max-width: 100%;
}

.tableContainer {
    overflow-x: auto;
}

.table__caption {
    text-align: center;
    margin: 10px 0 10px 0;
}

.table__cell {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

.table__cell--header {
    background-color: darkgray;
    text-align: left;
}

.footer {
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: hsla(240, 50%, 77%, 0.381);
    box-shadow: 2px 3px 3px 2px #8396b4;
}

.table__row: nth-child(even) {
    background:rgb(245, 241, 245);
}

.table__row: hover {
    background: rgb(231, 225, 231);
}

.body--greyBackground {
    background-color: rgb(235, 226, 226);
}




